 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a recent graduate student of CMU, and am currently looking for full-time positions in Product Management, Consulting or Business Intelligence.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm especially passionate about the intersection of technology, education and healthcare. Languages, Sci-fi and DICOM skulls are a few of my favourite things. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/uc?export=download&id=0B6xAwhVcQNfOdnlSRXVwRUUzYms" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>